name: Build MCL

on:
  workflow_dispatch:
    inputs:
      ref:
        description: MCL repo ref
        required: true
        default: master
        type: string
      create-pr:
        description: Create a pull request
        default: false
        type: boolean

permissions:
  contents: write
  pull-requests: write

env:
  RETENTION: 7

jobs:
  build-linux:
    name: Linux build
    strategy:
      matrix:
        arch: [x64]
    runs-on: ${{ matrix.arch == 'arm64' && 'ubuntu-22.04-arm' || 'ubuntu-22.04' }}
    steps:
      - name: Check out mcl repository
        uses: actions/checkout@v5
        with:
          repository: herumi/mcl
          ref: ${{ github.event.inputs.ref }}

      - name: Build
        run: |
          cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DMCL_USE_OMP=1 \
            ${{ matrix.arch == 'arm64' && '-DCMAKE_CXX_COMPILER=clang++' || '' }}
          cmake --build build
          strip build/lib/libmcl.so

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: linux-${{ matrix.arch }}
          path: build/lib/libmcl.so
          retention-days: ${{ env.RETENTION }}
          if-no-files-found: error

  # build-macos:
  #   name: macOS build
  #   strategy:
  #     matrix:
  #       arch: [arm64, x64]
  #   runs-on: ${{ matrix.arch == 'arm64' && 'macos-latest' || 'macos-latest-large' }}
  #   steps:
  #     - name: Check out mcl repository
  #       uses: actions/checkout@v5
  #       with:
  #         repository: herumi/mcl
  #         ref: ${{ github.event.inputs.ref }}

  #     - name: Build
  #       run: |
  #         cmake -S . -B build -DCMAKE_BUILD_TYPE=Release \
  #           ${{ matrix.arch == 'arm64' && '-DCMAKE_CXX_COMPILER=clang++' || '' }}
  #         cmake --build build
  #         strip -x build/lib/libmcl.dylib

  #     - name: Upload artifact
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: osx-${{ matrix.arch }}
  #         path: build/lib/libmcl.dylib
  #         retention-days: ${{ env.RETENTION }}
  #         if-no-files-found: error

  build-windows:
    name: Windows build
    strategy:
      matrix:
        arch: [x64]
    runs-on: ${{ matrix.arch == 'arm64' && 'windows-11-arm' || 'windows-latest' }}
    steps:
      - name: Check out mcl repository
        uses: actions/checkout@v5
        with:
          repository: herumi/mcl
          ref: ${{ github.event.inputs.ref }}

      - name: Build
        run: |
          $env:CFLAGS = "$env:CFLAGS -DMCL_USE_OMP"
          cmake -S . -B build -G "Visual Studio 17 2022" -A ${{ matrix.arch }}
          cmake --build build --config Release

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: win-${{ matrix.arch }}
          path: build/bin/release/mcl.dll
          retention-days: ${{ env.RETENTION }}
          if-no-files-found: error

  # create-pr:
  #   name: Create a pull request
  #   needs: [build-linux, build-macos, build-windows]
  #   if: github.event.inputs.create-pr == 'true'
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Check out repository
  #       uses: actions/checkout@v5

  #     - name: Download artifacts
  #       uses: actions/download-artifact@v4
  #       with:
  #         path: src/Nethermind.MclBindings/runtimes

  #     - name: Move artifacts
  #       working-directory: src/Nethermind.MclBindings/runtimes
  #       run: |
  #         mv -f linux-arm64/libmcl.so linux-arm64/native/libmcl.so
  #         mv -f linux-x64/libmcl.so linux-x64/native/libmcl.so
  #         mv -f osx-arm64/libmcl.dylib osx-arm64/native/libmcl.dylib
  #         mv -f osx-x64/libmcl.dylib osx-x64/native/libmcl.dylib
  #         mv -f win-arm64/mcl.dll win-arm64/native/mcl.dll
  #         mv -f win-x64/mcl.dll win-x64/native/mcl.dll

  #     - name: Create a pull request
  #       env:
  #         GH_TOKEN: ${{ github.token }}
  #       run: |
  #         head_branch=feature/mcl-build-$GITHUB_RUN_NUMBER-$GITHUB_RUN_ATTEMPT
  #         git config user.name "$GITHUB_ACTOR"
  #         git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
  #         git checkout -b $head_branch
  #         git add -A
  #         git commit -am "Update MCL binaries"
  #         git push origin $head_branch
  #         gh pr create -B $GITHUB_REF_NAME -H $head_branch -t "Update MCL binaries" -b "Built and updated MCL binaries"
