name: Build MCL

on:
  workflow_dispatch:
    inputs:
      ref:
        description: MCL repo ref
        required: true
        default: master
        type: string
      create-pr:
        description: Create a pull request
        default: false
        type: boolean

permissions:
  contents: write
  pull-requests: write

env:
  RETENTION: 7

jobs:
  build-linux:
    name: Linux build
    strategy:
      matrix:
        arch: [arm64, x64]
    runs-on: ${{ matrix.arch == 'arm64' && 'ubuntu-22.04-arm' || 'ubuntu-22.04' }}
    steps:
      - name: Check out mcl repository
        uses: actions/checkout@v5
        with:
          repository: herumi/mcl
          ref: ${{ github.event.inputs.ref }}

      - name: Build
        run: |
          cmake -S . -B build -DCMAKE_BUILD_TYPE=Release \
            ${{ matrix.arch == 'arm64' && '-DCMAKE_CXX_COMPILER=clang++' || '' }}
          cmake --build build --verbose
          strip build/lib/libmcl.so

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: linux-${{ matrix.arch }}
          path: build/lib/libmcl.so
          retention-days: ${{ env.RETENTION }}
          if-no-files-found: error

 
