name: Build MCL

on:
  workflow_dispatch:
    inputs:
      ref:
        description: MCL repo ref
        required: true
        default: master
        type: string
      create-pr:
        description: Create a pull request
        default: false
        type: boolean

permissions:
  contents: write
  pull-requests: write

env:
  RETENTION: 7

jobs:
  build-linux:
    name: Linux build
    strategy:
      matrix:
        arch: [arm64, x64]
    runs-on: ${{ matrix.arch == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    container:
      image: ubuntu:22.04
      options: --platform ${{ matrix.arch == 'arm64' && 'linux/arm64' || 'linux/amd64' }}
    steps:
      - name: Check out mcl repository
        uses: actions/checkout@v5
        with:
          repository: herumi/mcl
          ref: ${{ github.event.inputs.ref }}

      - name: Install dependencies
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          apt-get update
          apt-get install -y --no-install-recommends build-essential clang cmake libgmp-dev

      - name: Build
        run: |
          cmake -S . -B build -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_C_COMPILER=clang \
            -DCMAKE_CXX_COMPILER=clang++
          cmake --build build --verbose
          strip build/lib/libmcl.so

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: linux-${{ matrix.arch }}
          path: build/lib/libmcl.so
          retention-days: ${{ env.RETENTION }}
          if-no-files-found: error

 
  create-pr:
    name: Create a pull request
    needs: [build-linux, build-macos, build-windows]
    if: github.event.inputs.create-pr == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: src/Nethermind.MclBindings/runtimes

      - name: Move artifacts
        working-directory: src/Nethermind.MclBindings/runtimes
        run: |
          mv -f linux-arm64/libmcl.so linux-arm64/native/libmcl.so
          mv -f linux-x64/libmcl.so linux-x64/native/libmcl.so
          mv -f osx-arm64/libmcl.dylib osx-arm64/native/libmcl.dylib
          mv -f osx-x64/libmcl.dylib osx-x64/native/libmcl.dylib
          mv -f win-arm64/mcl.dll win-arm64/native/mcl.dll
          mv -f win-x64/mcl.dll win-x64/native/mcl.dll

      - name: Create a pull request
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          head_branch=feature/mcl-build-$GITHUB_RUN_NUMBER-$GITHUB_RUN_ATTEMPT
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git checkout -b $head_branch
          git add -A
          git commit -am "Update MCL binaries"
          git push origin $head_branch
          gh pr create -B $GITHUB_REF_NAME -H $head_branch -t "Update MCL binaries" -b "Built and updated MCL binaries"
